body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(253, 100%, 50%);
    }  
  .calculator {
    border: 1px solid hsl(310, 100%, 58%);
    width: 500px;
    text-align: center;
    padding: 10px;
  }
  .number {
    background-color: #23ef3485; /* Cor de fundo azul */
    color: hsla(17, 75%, 40%, 0.842); /* Cor do texto branca */
  }
  
  #display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
    button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }